{% extends "adminTemplate.html" %}
{% block title %}Inserir Lugares{% endblock %}

{% block container %}
<div class="container">
    <div class="page-header">
        <h1>Criar lugar <small>Make it awesome, bro!</small></h1>
    </div>
    <form action="insertMarker" method="post">
        {{form.hidden_tag()}}

            <label>Nome</label>
            {{form.name()}}

            <label>Descrição</label>
            {{form.description(class='span5',rows=4)}}

            <label>Qual nota daria para esse lugar?</label>
            {{form.selectRank(class='span4')}}

            <label>E como é o chão?</label>
            {{form.selectFloor(class='span4')}}

            <label>E a galera?</label>
            {{form.selectGalera(class='span4')}}

            <label>O que tem nesse lugar?</label>
            <div>
                <label class="checkbox inline">
                    {{form.boolCoberto()}}                
                    Proteção da chuva
                </label>
                <label class="checkbox inline">
                    {{form.corrimao()}}                
                    Corrimão
                </label>
                <label class="checkbox inline">
                    {{form.borda()}}
                    Borda
                </label>
                <label class="checkbox inline">
                    {{form.mini()}}
                    Mini-Ramp
                </label>
                <label class="checkbox inline">
                    {{form.bowl()}}
                    Bowl
                </label>
                <label class="checkbox inline">
                    {{form.manual()}}
                    Manual Pad
                </label>
            </div>
            <br>
            <label>Adicione uma imagem</label>
            <img data-src="holder.js/360x240" alt="">
        <hr>
        <div class="page-header">
            <h2>Coordenadas <small>Show me where it is, dude!</small></h2>
        </div>
        <div id="map"></div>
        <label>Latitude & Longitude</label>
        <div class="controls controls-row">
            {{form.lat(class="input-medium uneditable-input")}}
            {{form.lng(class="input-medium uneditable-input")}}
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Criar</button>
    </form>
</div> <!-- /container -->
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    map = new GMaps({
            div: '#map',
            lat: -23.551064349833187,
            lng: -46.636962890625,
            click: function(e) {
                var lat = e.latLng.lat();
                var lng = e.latLng.lng();
                $('#lat').val(lat);
                $('#lng').val(lng);
                map.removeMarkers();
                map.addMarker({
                  lat: lat,
                  lng: lng,
                  icon: 'static/img/skateicon.png'
                });
        }
    });
    $(window).resize(function () {
        var h = $(window).height(),
        offsetTop = 60; // Calculate the top offset
        $('#map').css('height', (h - offsetTop));
    }).resize();
});   
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATs9LlQ7AWita-Z6ruwzDTlWTypiynOFA&amp;sensor=false">
</script>
<script type="text/javascript" src="static/js/gmaps.js"></script>
<script src="static/js/holder.js"></script>
{% endblock %}
