{% extends "adminTemplate.html" %}
{% block title %}Inserir Usuário{% endblock %}
{% block container %}
<div class="container">
    <div class="page-header">
        <h1>Criar Usuario <small>With great power, comes great responsibility...</small></h1>
    </div>
    <form action="insertUser" method="post">
        {{form.hidden_tag()}}

            <label>Nome</label>
            {{form.firstName()}}

            <label>Sobrenome</label>
            {{form.lastName()}}

            <label>Username</label>
            {{form.username()}}

            <label>Password</label>
            {{form.password()}}

            <label class="checkbox inline">
                    {{form.isAdmin()}}
                    Is admin?
            </label>
        <hr>
        <button type="submit" class="btn btn-primary">Do it, babe.</button>
    </form>
</div> <!-- /container -->
{% endblock %}

{% block scripts %}
{% endblock %}
