<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link type="text/css" rel="stylesheet" href="static/css/style1.css" />
  <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="static/js/javascript.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATs9LlQ7AWita-Z6ruwzDTlWTypiynOFA&amp;sensor=false">
  </script>
  <script src="static/js/holder.js"></script>
  <title>queroskate.org</title>
</head>
<body>
  <div id="topo">
    QUEROSKATE.org
    <blockquote class="pull-right">
      <p>"Skateboarding is not a crime."</p>
      <small>Some random dude in <cite title="Source Title">Thrasher magazine</cite></small>
    </blockquote>
  </div>
  <div id="col">
    <div class="controls" style="padding:10px 20px 0px 30px;">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-search"></i></span>
        <input class="span3" id="inputIcon" type="text">
      </div>
    </div>       
    <ul id="lista"> 
      <li>
        <div class="media">
          <a class="pull-left" href="#">
            <img alt="foto" class="fotosmall" src="static/img/spots/sumare.jpg">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Pista da Sumare</h4>
            <address>
              <strong>Twitter, Inc.</strong><br>
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr>  (123) 456-7890
            </address>
          </div>
        </div>
      </li>
      <li>            
        <div class="media">
          <a class="pull-left" href="#">
            <img alt="foto" class="fotosmall" src="static/img/spots/anhangabau.jpg">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Vale do Anhangabau</h4>
            <address>
              <strong>Twitter, Inc.</strong><br>
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr>  (123) 456-7890
            </address>
          </div>
        </div>
      </li>
      <li>            
        <div class="media">
          <a class="pull-left" href="#">
            <img alt="foto" class="fotosmall" src="static/img/spots/roosevelt.jpg">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Praca Roosevelt</h4>
            <address>
              <strong>Twitter, Inc.</strong><br>
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr>  (123) 456-7890
            </address>
          </div>
        </div>
      </li>
      <li>            
        <div class="media">
          <a class="pull-left" href="#">
            <img alt="foto" class="fotosmall" src="static/img/spots/espraiada.jpg">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Pista da Agua Espraiada</h4>
            <address>
              <strong>Twitter, Inc.</strong><br>
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr>  (123) 456-7890
            </address>
          </div>
        </div>
      </li>
      <li>            
        <div class="media">
          <a class="pull-left" href="#">
            <img alt="foto" class="fotosmall" src="static/img/spots/ibirapuera.jpg">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Marquise do Ibirapuera</h4>
            <address>
              <strong>Twitter, Inc.</strong><br>
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr>  (123) 456-7890
            </address>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div id="map_canvas"></div>
</body>
</html>
